<h2>Teilaufgabe 1</h2>

<table>
	<thead>
		<th></th>
		<th>Ergebnis</th>
	</thead>
	<tbody>
		<tr>
			<td>
				<button type="button" id="timeButton">Zeitanzeige</button>
			</td>
			<td>
				<output id="timeResult">Aktuelle Zeit</output>
			</td>
		</tr>
		<tr>
			<td>
				<button type="button" id="localCounterButton">Counter</button>
			</td>
			<td>
				<output id="localCounterResult">0</output>
			</td>
		</tr>
	</tbody>
</table>

<h2>Teilaufgabe 2</h2>

<table>
	<thead>
		<th></th>
		<th>Ergebnis</th>
	</thead>
	<tbody>
		<tr>
			<td>
				<button type="button" id="globalCounterButton">Counter</button>
			</td>
			<td>
				<output id="globalCounterResult">{{globalCounter}}</output>
			</td>
		</tr>
	</tbody>
</table>

<h2>Teilaufgabe 3</h2>

<table>
	<thead>
		<th>IP Adressen</th>
	</thead>
	<tbody id='adressTable'>
	</tbody>
</table>

<script src="/scripts/index.js" type="text/javascript"></script>
<script src="/scripts/worker.js" type="text/javascript"></script>
